.profile-username {
  font-size: 70px;
  text-align: center;
}

.profile-recipes-favorites-toggle-wrapper {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 700px;
}

.profile-recipes,
.profile-favorite-recipes {
  border: 1px solid;
  font-size: 30px;
  padding: 10px;
}
