.recipeform-container {
  display: flex;
  width: 100%;
}

.recipeform-form {
  display: flex;
  justify-content: center;
  margin-top: 12vw;
  width: 100%;
}

.recipeform-left-div {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}

.recipeform-right-div {
  display: flex;
  flex-direction: column;
}

.recipeform-input {
  height: 35px;
  margin-bottom: 20px;
  max-width: 350px;
  width: 30vw;
}

input[type="file"] {
  display: none;
}

.recipeform-image-label {
  cursor: pointer;
  border: 1px solid;
  height: 300px;
  width: 300px;
}

.recipeform-textarea {
  height: 100px;
  margin-bottom: 20px;
  max-width: 350px;
  width: 30vw;
}

#recipeform-image {
  height: 300px;
  width: 300px;
}

#recipeform-input-preptime,
#recipeform-input-cooktime {
  margin-bottom: 20px;
  width: 15vw;
}
