.recipeform-container {
  display: flex;
  width: 100%;
}

.recipeform-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  width: 100%;
  margin-top: 2vw;
}

.recipeform-left-div {
  display: flex;
  flex-direction: column;
  margin-right: 0vw;
  width: 70vw;
}

.recipeform-right-div {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.recipeform-input {
  height: 35px;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.recipeform-image-label {
  cursor: pointer;
  border: 1px solid;
  height: 100%;
  width: 70vw;
}

.recipeform-textarea {
  height: 100px;
  margin-bottom: 20px;
}

#recipeform-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#recipeform-input-diet {
  margin-bottom: 20px;
}

#recipeform-input-preptime,
#recipeform-input-cooktime {
  margin-bottom: 20px;
  width: 26vw;
}

.recipeform-timing-wrapper {
  display: flex;
  flex-direction: column;
}

.recipeform-preptime-cooktime-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.recipeform-header {
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 4vw;
  text-align: center;
}

.recipeform-error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
  max-width: fit-content;
}

@media only screen and (min-width: 800px) {
  .recipeform-form {
    display: flex;
    flex-direction: initial;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0vw auto 2vw auto;
  }
  .recipeform-textarea {
    height: 110px;
    margin-bottom: 20px;
    max-width: 450px;
    width: 35vw;
  }

  .recipeform-right-div {
    max-width: 450px;
    width: auto;
  }

  .recipeform-input {
    max-width: 450px;
    width: 35vw;
  }

  #recipeform-image {
    height: 350px;
    object-fit: cover;
    width: 350px;
  }

  .recipeform-image-label {
    cursor: pointer;
    border: 1px solid;
    height: 350px;
    width: 350px;
  }

  .recipeform-left-div {
    display: flex;
    height: 100%;
    width: auto;
  }

  #recipeform-input-preptime,
  #recipeform-input-cooktime {
    width: 15vw;
    max-width: 150px;
  }

  .recipeform-preptime-cooktime-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    max-width: 350px;
  }

  #recipeform-input-diet {
    max-width: 350px;
  }
}
