.recipeform-container {
  display: flex;
  margin-left: 25vw;
  margin-top: 20vh;
}

.recipeform-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipeform-left-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipeform-right-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipeform-input {
  height: 35px;
  margin-bottom: 20px;
  max-width: 350px;
  width: 55%;
}

input[type="file"] {
  display: none;
}

.recipeform-image-label {
  cursor: pointer;
  border: 1px solid;
  height: 300px;
  width: 300px;
}

#recipeform-image {
  height: 300px;
  width: 300px;
}
