.recipe-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1300px;
}

.recipe-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.recipe-title {
  font-size: 70px;
}

.recipe-description {
  font-size: 18px;
}

.recipe-cooktime,
.recipe-preptime,
.recipe-ratings {
  font-size: 13px;
}

.recipe-creator {
  font-size: 13px;
}

.recipe-ingredients-header {
  font-size: 25px;
}

.recipe-ingredients {
  font-size: 14px;
}

.recipe-instructions-header {
  font-size: 25px;
}

.recipe-instructions {
  font-size: 14px;
}

.recipe-diet {
  font-size: 13px;
}
