.recipe-container {
  display: grid;
  margin: auto;
  margin-top: 150px;
  max-width: 1300px;
}

.recipe-instructions-wrapper {
  justify-self: center;
  width: 90vw;
  max-width: 400px;
}

.recipe-background {
  background-color: #111;
  height: 300px;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
}

.recipe-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.recipe-title {
  color: #fefefe;
  font-size: calc(max(40px, 10vw));
  margin-bottom: 0px;
  margin-top: 0px;
}

.recipe-description {
  font-size: 18px;
}

.recipe-cooktime,
.recipe-preptime,
.recipe-totaltime,
.recipe-ratings {
  color: #fefefe;
  font-size: 13px;
}

.recipe-cooktime-header,
.recipe-preptime-header,
.recipe-totaltime-header,
.recipe-ratings-header {
  color: #fefefe;
  font-size: 13px;
}

.recipe-creator {
  color: #fefefe;
  font-size: 13px;
}

.recipe-ingredients-header {
  font-size: 25px;
}

.recipe-ingredients {
  font-size: 14px;
}

.recipe-instructions-header {
  font-size: 25px;
  padding: 25px 25px 0px;
}

.recipe-instructions {
  font-size: 14px;
  padding-left: 25px;
}

.recipe-diet {
  font-size: 13px;
}

.recipe-left-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: fit-content;
  z-index: 9;
  justify-self: center;
}

.recipe-right-div {
  z-index: 9;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 90vw;
}

.recipe-timing-rating-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 65vw;
}

.recipe-icon-ingredient-wrapper {
  display: flex;
}

.recipe-ingredients-header {
  margin-top: 0px;
}

.recipe-ingredients {
  margin-left: 12px;
  margin-top: 0px;
}

.recipe-ingredients-wrapper-big {
  background-color: #e0e0e0;
  margin-top: 20px;
  max-width: 350px;
  padding: 25px;
}

.recipe-image-wrapper-big {
  align-self: center;
  width: 90vw;
  height: 90vw;
  position: relative;
}

.recipe-image-wrapper-small {
  position: relative;
}

.heart-icon-wrapper {
  align-items: center;
  background-color: #ffffff99;
  border-radius: 50px;
  bottom: 10px;
  display: flex;
  height: 70px;
  justify-content: center;
  position: absolute;
  right: 10px;
  width: 70px;
}

@media only screen and (min-width: 450px) {
  .recipe-image-wrapper-big {
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
  }
  .recipe-right-div {
    width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .recipe-right-div {
    grid-column-start: col-start 1;
    margin-right: 20px;
    margin-left: 10px;
    justify-self: flex-end;
    width: 30vw;
  }
  .recipe-left-div {
    align-items: normal;
    margin-right: 10px;
    margin-left: 20px;
    justify-self: left;
  }
  .recipe-container {
    grid-auto-rows: 400px;
    justify-content: center;
  }
  .recipe-image-wrapper-big {
    width: 30vw;
    height: 30vw;
  }
  .recipe-instructions-wrapper {
    justify-self: left;
    margin-left: 20px;
    width: auto;
    padding: 0px;
  }
  .recipe-title {
    font-size: calc(min(7vw, 70px));
  }
}
