#recipeform-button-wrapper,
#ratingmodal-button-wrapper {
  display: flex;
  justify-content: center;
}

#recipeform-button {
  cursor: pointer;
  width: 70vw;
}

@media only screen and (min-width: 800px) {
  #recipeform-button {
    max-width: 250px;
    width: 40vw;
  }
}

#accountform-button {
  cursor: pointer;
  width: 100%;
}

#ratingmodal-button {
  cursor: pointer;
  font-size: calc(min(4vw, 14px));
  width: calc(min(26vw, 150px));
}
