.navbar-container {
  color: #fdfdfd;
  background-color: #111;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9;
}

.navbar-item-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1300px;
  padding: 15px 0px;
  margin: auto;
}

.navbar-item {
  margin: 10px;
}

.navbar-item-navlink-container {
  display: flex;
}
