.navbar-container {
  color: #fdfdfd;
  background-color: #111;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9;
}

.navbar-item-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1340px;
  padding: 15px 0px;
  margin: auto;
}

.navbar-item-navlink {
  margin: 10px 20px 10px 20px;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
  }
}

.navbar-item {
  align-self: center;
}

.navbar-item-logout {
  align-self: center;
  cursor: pointer;
  font-size: 12px;
  margin-right: 20px;
  padding: 10px;
}

.navbar-item-navlink-container {
  display: flex;
}
