.recipecard-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.recipecard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1300px;
}

.recipecard-wrapper {
  border: 1px solid blue;
  margin: 10px 10px;
  max-width: 300px;
  position: relative;
  height: 470px;
}

.recipecard-ratings-wrapper {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.recipecard-ratings {
  font-size: 13px;
  margin-left: 5px;
  margin-top: -1px;
}

.recipecard-creator {
  background: linear-gradient(to bottom, #d54217 0%, #d54217 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 5px;
  width: fit-content;
}

.recipecard-creator:hover {
  background-image: url("data:image/svg+xml;charset=utf8,<svg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><style type='text/css'>.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}</style><path fill='none' stroke='%23d54217' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.recipecard-description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  width: 290px;
}

.recipecard-info {
  padding: 10px;
}
