.recipecard-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.recipecard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1300px;
}

.recipecard-wrapper {
  border: 1px solid blue;
  margin: 10px 10px;
}

.recipecard-ratings-wrapper {
  display: flex;
}

.recipecard-ratings {
  font-size: 13px;
  margin-left: 5px;
  margin-top: -1px;
}
