.recipe-solid-star {
  color: #d54217;
  font-size: 13px;
  margin-right: 5px;
}

.recipe-regular-star {
  color: transparent;
  font-size: 13px;
  margin-right: 5px;
  stroke: #d54217;
  stroke-width: 30px;
}

.ratingmodal-star {
  stroke: #d54217;
  stroke-width: 30px;
  color: transparent;
  cursor: pointer;
}

.ratingmodal-star:hover,
.ratingmodal-star:hover ~ .ratingmodal-star {
  color: #d54217;
}
